@import url('https://fonts.googleapis.com/css?family=Dosis|Pacifico');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/* Base */

#root {
  width: 100%;
  height: 100%;
}

body, button, select {
  font-size: 16px !important;
}



/* App */

.App {
  font-family: "Dosis" !important;
  margin-top: 72px;
}

.App > .row {
  min-height: calc(100vh - 72px);
}

header {
  font-family: "Pacifico" !important;
  user-select: none;
  text-shadow: 2px 2px rgba(33, 33, 33, 0.25);
}

.table {
  overflow: auto;
}

.table td, .table th {
  border: none;
}

.sidebar {
  overflow-x: hidden;
}

.report-container {
  overflow-x: auto;
  margin: 0;
  padding: 0;
}



/* Navigation */

.nav-link {
  cursor: pointer;
}



/* Upload */

.data-upload {
  user-select: none;
}

.data-upload:drop {
  background: red !important;
}

.data-upload > input {
  width: auto;
  margin: auto;
}



/* Shadows */

.box-shadow {
  box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.25);
}
